<!-- <section class=`bg-hero-ship-mobile md:bg-hero-ship-tablet xl:bg-hero-ship-desktop 2xl:bg-hero-ship-pc 
                    bg-no-repeat bg-center bg-cover h-screen`
>
  <section class="flex justify-center items-center h-screen bg-black bg-opacity-40">
    <h1 class="text-5xl font-bold text-agena-black bg-white dark:text-white dark:bg-agena-black p-4 m-4">
       Sobre nosotros
    </h1>
  </section>
</section> -->

<section class="relative h-screen">
  <div class="block md:hidden">
    <img src="ship-cargo-port/mobile-port.webp" alt="Foto decorativa de un puerto" class="w-full h-full z-10 absolute" />
  </div>
  <div class="hidden md:block xl:hidden">
    <img src="ship-cargo-port/tablet-ship-cargo.webp" alt="Foto decorativa de un puerto" class="w-full h-full z-10 absolute" />
  </div>
  <div class="hidden xl:block 2xl:hidden">
    <img src="ship-cargo-port/desktop-ship-cargo.webp" alt="Foto decorativa de un puerto" class="w-full h-full z-10 absolute" />
  </div>
  <div class="hidden 2xl:block">
    <img src="ship-cargo-port/desktop-ship-cargo.webp" alt="Foto decorativa de un puerto" class="w-full h-full z-10 absolute" />
  </div>
  <section class="absolute w-full h-screen z-20 flex justify-center items-center bg-black bg-opacity-40">
    <h1 class="text-5xl z-30 rounded-xl font-bold text-agena-black bg-white dark:text-white dark:bg-agena-black p-4 m-4">
       Sobre nosotros
    </h1>
  </section>
</section>